@import './product.scss';
@import './cart.scss';

#app {
  font-size: 14px;
}

.body {
  font-size: 12px;
  background: #ffffff;
}

.section-container {
  padding: 16px;
  background: #ffffff;
  margin-bottom: 24px;
}

.zaui-list-item {
  cursor: pointer;
}

.custom-drawer {
  border-radius: 8px;
  .ant-drawer-body {
    padding: 0px;
  }
}

.custom-tabs {
  .ant-tabs-nav {
    background: #ffffff;
  }
  .ant-tabs-tab {
    margin: 0 !important;
    padding: 8px;
  }
}