@import './product.scss';
@import './cart.scss';

#app {
  font-size: 14px;
}

.body {
  font-size: 12px;
  background: #ffffff;
}

.section-container {
  padding: 16px;
  background: #ffffff;
  margin-bottom: 24px;
}

.zaui-list-item {
  cursor: pointer;
}

.custom-drawer {
  border-radius: 8px;
  .ant-drawer-body {
    padding: 0px;
  }
}

.custom-tabs {
  .ant-tabs-nav {
    background: #ffffff;
    margin: 0px !important;
  }
  .ant-tabs-tab {
    margin: 0 !important;
    padding: 8px;
  }
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #000000;
  }
  .ant-tabs-ink-bar {
    background: #000000;
  }
  .ant-tabs-tab:hover {
    color: #000000
  }
  .ant-tabs-tab-btn:active {
    color: #000000;
  }
}

.tabs-custom-default {
  border-bottom: 1px solid #eee;
  .active {
    font-weight: 700;
    border-bottom: 2px solid #000;
  }
}

.modal-custom-fullscreen {
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100vh;
  margin: 0 !important;
  max-width: 100% !important;
  border-radius: 0;
  .ant-modal-content {
    height: 100vh;
    border-radius: 0;
    padding: 0;
    background: #000;
    .ant-modal-body {
      height: 100%;
      .ant-carousel {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        .slick-dots {
          bottom: 20px;
          li {
            button {
              width: 6px;
              height: 6px;
            }
          }
          li.slick-active {
            button {
              width: 100%;
              height: 6px;
            }
          }
        }
        .slick-slider {
          height: 100%;
          .slick-list {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        }
      }

    }
  }
}